@model WebAppRezeptSammlungMVC.Models.Zutat

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Zutat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Menge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Menge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Einheit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Einheit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rezept)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rezept.Bezeichnung)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lebensmittel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lebensmittel.Bezeichnung)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
